.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  padding: 16px;
  margin: 0;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.2);
  transition: background .3s;
}

.card:hover::before {
  background: rgba(0,0,0,.6);
}

.card:hover .map {
  opacity: 1;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  transition: opacity .3s;
}

.card:hover .card-description {
  opacity: 0;
}
.card-description span:nth-child(2) {
  font: var(--body1-regular);
}

.berlin {
  background-image: url('../images/Berlin.png');
}

.tirana {
  background-image: url('../images/Tirana.png');
}

.buenos-aires {
  background-image: url(../images/Buenos\ Aires.png);
}

.santiago {
  background-image: url(../images/Santiago.png);
}

.pekin {
  background-image: url(../images/Peki╠ün.png);
}

.bogota {
  background-image: url(../images/Bogota╠ü.png);
}

.seul {
  background-image: url(../images/Seu╠ül.png);
}

.habana {
  background-image: url(../images/La\ Habana.png);
}

.quito {
  background-image: url(../images/Quito.png);
}

.salvador {
  background-image: url(../images/San\ Salvador.png);
}

.madrid {
  background-image: url(../images/Madrid.png);
}

.mexico {
  background-image: url(../images/Me╠üxico.png);
}

.tirana,
.buenos-aires,
.bogota,
.seul,
.salvador,
.madrid {
  grid-row-end: span 2;
}

@media screen and (min-width: 768px) {
  .buenos-aires {
    grid-row-end: span 1;
  }

  .santiago {
    grid-row-end: span 2;
  }

  .pekin {
    grid-column-start: 2;
    grid-row: 3 /span 1;
  }

  .quito {
    grid-row: span 2;
  }

  .salvador {
    grid-column-start: 1;
  }

  .madrid {
    grid-column-start: 2;
    grid-row: 5 / span 3;
  }

  .mexico {
    grid-row-end: span 2;
  }
}

@media screen and (min-width: 1018px) {
  .berlin {
    grid-row-end: span 2;
  }

  .tirana {
    grid-row-end: span 1;
  }

  .buenos-aires {
    grid-row-end: span 2;
  }

  .santiago {
    grid-row: 3 / span 1;
  }

  .pekin {
    grid-row: 2 / span 3;
  }

  .bogota {
    grid-row-end: span 1;
  }

  .habana {
    grid-column-start: 2;
    grid-row-start: 5;
    z-index: 2;
  }

  .quito {
    grid-column-start: 3;
    grid-row: 4 / span 3;
  }

  .salvador {
    grid-row-end: span 3;
  }

  .madrid {
    grid-row: 6 / span 2;
  }

  .mexico {
    grid-row-end: span 1;
  }
}