@import './card.css';
@import './map.css';

:root {
--white: #ffffff;
--body1-regular: 400 1rem/1.5rem Poppins;
--body1-bold: 700 1rem/1.5rem Poppins;
}

body {
  font: var(--body1-bold);
  color: var(--white);
  margin: 16px 11px;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(161px, 1fr));
  grid-template-rows: repeat(3, 161px 3px 161px);
  gap: 16px;
}

@media screen and (min-width: 768px) {
  body {
    margin: 15px;
  }

  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-template-rows: repeat(2, 235px 34px 235px);
    grid-gap: 16px;
  }
}

@media screen and (min-width: 1018px) {
  body {
    margin: 40px;
  }

  .grid-gallery {
    grid-template-columns: repeat(3, minmax(318px, 1fr));
    grid-template-rows: repeat(4, 350px 52px);
  }

  .berlin {
    grid-row-end: span 2;
  }

  .tirana {
    grid-row-end: span 1;
  }

  .buenos-aires {
    grid-row-end: span 2;
  }

  .santiago {
    grid-row: 3 / span 1;
  }

  .pekin {
    grid-row: 2 / span 3;
  }

  .bogota {
    grid-row-end: span 1;
  }

  .habana {
    grid-column-start: 2;
    grid-row-start: 5;
    z-index: 2;
  }

  .quito {
    grid-column-start: 3;
    grid-row: 4 / span 3;
  }

  .salvador {
    grid-row-end: span 3;
  }

  .madrid {
    grid-row: 6 / span 2;
  }

  .mexico {
    grid-row-end: span 1;
  }
}