@import './card.css';
@import './map.css';

:root {
--white: #ffffff;
--body1-regular: 400 1rem/1.5rem Poppins;
--body1-bold: 700 1rem/1.5rem Poppins;
}

body {
  font: var(--body1-bold);
  color: var(--white);
  margin: 16px 11px;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(161px, 1fr));
  grid-template-rows: repeat(3, 161px 3px 161px);
  gap: 16px;
}

@media screen and (min-width: 480px){
  .grid-gallery {
    grid-template-rows: repeat(3, 217px 59px 217px);
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 15px;
  }

  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-template-rows: repeat(2, 235px 34px 235px);
    grid-gap: 16px;
  }
}

@media screen and (min-width: 1018px) {
  body {
    margin: 40px;
  }

  .grid-gallery {
    grid-template-columns: repeat(3, minmax(318px, 1fr));
    grid-template-rows: repeat(4, 350px 52px);
  }

}