.map {
  padding: 4px 8px;
  background-color: #00A2FF;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transition: opacity .3s;
}

.map span {
  font: var(--body1-bold);
  font-size: 8px;
  color: var(--white);
  white-space: nowrap;
}

.map img{
  max-inline-size: 16px;
  max-block-size: 16px;
}

@media screen and (min-width: 1018px) {
  .map {
    padding: 8px 16px;
  }

  .map span {
  font: var(--body1-bold);
  }

  .map img{
    max-inline-size: 24px;
    max-block-size: 24px;
  }
}